* {
  box-sizing: inherit;
}

:root {
  --primary-color: #274c5b;
  --primary-heading-color: #7eb693;
  --primary-background-color: #d4d4d4;
  --primary-band-color: #f9f8f8;
  --text-color: #525c60;
  --btn-color: #efd372;
  --white-color: #fff;
  --height-header: 120px;
  --width-header: 120px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

/* Common */

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  width: 220px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.btn-active {
  background-color: var(--btn-color);
}

.title {
  font-family: "Yellowtail", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  color: var(--primary-heading-color);
}

.text-above {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* ============================== Header ==================================*/

.header__nav {
  margin: auto;
  max-width: calc(100% - var(--width-header));
  height: var(--height-header);
}

.header__nav,
.header__nav-left {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header__logo-img {
  display: block;
  width: 200px;
  height: 54px;
}

.header__menu,
.header__menu-list {
  display: flex;
  align-items: center;
}

.header__menu-item {
  position: relative;
}

.home__menu-icon {
  font-size: 1.2rem;
}

.header__menu-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__menu-item:hover .header__submenu {
  display: block;
}

.header__submenu {
  display: none;
  width: 220px;
  left: 0;
  top: 130%;
  position: absolute;
}

.header__submenu-item a,
.header__menu-link {
  padding: 8px 18px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.header__submenu-item {
  background-color: var(--primary-band-color);
  padding: 6px 16px;
}
.header__submenu-item a:hover,
.header__submenu-item:hover {
  cursor: pointer;
  background-color: #eee;
}

.header__submenu-item a {
  display: inline-block;
  padding: 8px 32px 8px 0;
  text-align: left;
}

.header__nav-right {
  flex: 1;
}

.header__nav-right,
.search__wrap {
  display: flex;
  align-items: center;
}

.header__right-search,
.header__right-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search__wrap-icon,
.cart__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.cart__icon {
  background-color: var(--primary-color);
}

.search__wrap-icon {
  background-color: var(--primary-heading-color);
  margin: 0 10px;
}

.header__right-search {
  width: 100%;
}

.search__wrap {
  width: 80%;
  height: 66px;
  border-radius: 9999px;
  background-color: var(--primary-band-color);
}
.search__wrap-input {
  flex: 1;
  margin-left: 24px;
}

.search__input {
  width: 100%;
  border: none;
  background-color: var(--primary-band-color);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2rem;
}

.header__right-cart {
  margin-left: 18px;
  width: 160px;
}

.icon-logo {
  font-size: 2.3rem;
}
.cart__icon .icon-logo {
  color: var(--white-color);
}

.cart__quantity {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 12px;
}

/*  Menu sort mobile and tablet */
.header__menu-sort {
  display: none;
  height: 100%;
  width: 30px;
}

.header__nav-mobile {
  display: none;
}

/* ================ Home page ==================== */

.home__banner {
  height: 900px;
  background-image: url(/assets/image/home__banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home__banner-content {
  padding: 246px 0 260px 246px;
}
.home__banner-title {
  margin-bottom: 8px;
  color: #68a47f;
}

.home__banner-desc {
  margin-bottom: 23px;
  width: 520px;
  font-weight: 800;
  font-size: 7rem;
  line-height: 1.2;
  color: var(--primary-color);
}
.home__banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__banner-btn-link {
  margin-right: 10px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.btn__icon-arrow {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: #274c5b;
  color: var(--white-color);
  border-radius: 50%;
}

/* =============== banner ================== */

.banner {
  margin: 154px 0 206px;
}

.banner__offer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin: 0 240px;
}

.banner__offer-left,
.banner__offer-right {
  position: relative;
}

.banner__offer-img {
  --total-width: 1400px;
  --width-img: calc((var(--total-width) - 36px) / 2);
  width: var(--width-img);
  height: calc(var(--width-img) / 2);
  object-fit: cover;
  border-radius: 16px;
}

.banner__content {
  width: 285px;
  margin: 109px 0 110px 55px;
}

.banner__content-left-title {
  margin-bottom: 5px;
  color: var(--white-color);
}
.banner__content-right-title {
  margin-bottom: 5px;
  color: var(--primary-heading-color);
}

.banner__content-left-desc,
.banner__content-right-desc {
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.15;
}

.banner__content-left-desc {
  color: var(--white-color);
}

/* ==================== About us ========================== */

.about__content {
  position: relative;
}

.about__content-img {
  width: 100%;
  height: 1067px;
  object-fit: cover;
}

.about__content-info {
  width: 714px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__content-info-head {
  margin-bottom: 8px;
  color: var(--primary-heading-color);
}

.about__content-info-title {
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.1;
  color: var(--primary-color);
}

.about__content-info-desc,
.about__points-wrap-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.65;
  color: #525c60;
}

.about__points,
.about__button {
  margin-top: 36px;
}

.about__points-wrap + .about__points-wrap {
  margin-top: 30px;
}

.about__points-wrap {
  display: flex;
  align-items: center;
}

.about__points-wrap-img {
  width: 101px;
  height: 101px;
  border-radius: 8px;
  object-fit: cover;
  background-color: #fff;
}

.about__points-wrap-info {
  margin-left: 19px;
}

.about__points-wrap-title {
  margin-bottom: 7px;
  font-weight: 800;
  font-size: 2.5;
  line-height: 1.15;
  color: var(--primary-color);
}

.about__button-btn {
  background-color: var(--primary-color);
}

.about__button-link {
  margin-left: 10px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--white-color);
}

.about__button-link-arrow {
  margin-left: 10px;
  background-color: #335b6b;
}

/* ===================== Products ===================== */

.products {
  margin: 160px 0 200px;
}

.products__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products__intro-desc {
  margin: 8px 0 40px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  color: #274c5b;
}

.products__list {
  gap: 20px 0;
}

.products__item {
  position: relative;
  height: 460px;
  background-color: #f9f8f8;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  border: solid 1px #ddd;
}

.products__item-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 96px;
  height: 31px;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.products__item-category-img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 100%;
  height: 360px;
  object-fit: cover;
}
.product__list-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.products__item-info {
  margin: 12px 31px 0;
}

.products__item-info-title {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
}

.products__item-info-price::before {
  position: absolute;
  display: block;
  content: "";
  border-bottom: solid 1px #ccc;
  width: 100%;
  top: -50%;
}

.products__item-info-price {
  position: relative;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__price {
  gap: 8px;
}

.products__price-remove {
  position: relative;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: #b8b8b8;
}
.products__price-remove::before {
  position: absolute;
  display: block;
  content: "";
  border-bottom: solid 1px #ccc;
  width: 100%;
  top: 50%;
}

.products__price-discount {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  color: var(--primary-color);
}

.products__rate-start {
  color: #ffa858;
}
