* {
  box-sizing: inherit;
}

:root {
  --primary-color: #274c5b;
  --primary-heading-color: #7eb693;
  --primary-background-color: #d4d4d4;
  --primary-band-color: #f9f8f8;
  --text-color: #525c60;
  --btn-color: #efd372;
  --white-color: #fff;
  --height-header: 162px;
  --width-header: 320px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

/* Common */

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  width: 220px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.btn-active {
  background-color: var(--btn-color);
}

.title {
  font-family: "Yellowtail", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
}

/* ============================== Header ==================================*/

.header__nav {
  max-width: calc(100% - var(--width-header));
  margin: auto;
  height: var(--height-header);
  align-items: center;
}

.header__nav,
.header__nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-left {
  width: 57.5%;
}

.header__logo-img {
  display: block;
  width: 200px;
  height: 54px;
}

.header__menu,
.header__menu-list {
  display: flex;
  align-items: center;
}

.header__menu-item {
  position: relative;
}

.header__menu-item a:hover {
  cursor: pointer;
  background-color: var(--primary-band-color);
}

.header__menu-item:hover .header__submenu {
  display: block;
}

.header__submenu {
  display: none;
  width: 220px;
  left: 0;
  top: 130%;
  position: absolute;
}

.header__submenu-item a,
.header__menu-item a {
  padding: 8px 23px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.header__submenu-item {
  background-color: var(--primary-band-color);
  padding: 6px 16px;
}
.header__submenu-item a:hover,
.header__submenu-item:hover {
  cursor: pointer;
  background-color: #eee;
}

.header__submenu-item a {
  display: inline-block;
  padding: 8px 32px 8px 0;
  text-align: left;
}

.header__nav-right,
.search__wrap {
  width: 42.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__right-search,
.header__right-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search__wrap-icon,
.cart__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.cart__icon {
  background-color: var(--primary-color);
}

.search__wrap-icon {
  background-color: var(--primary-heading-color);
  margin: 0 10px;
}

.header__right-search {
  width: 100%;
}

.search__wrap {
  width: 80%;
  height: 66px;
  border-radius: 9999px;
  background-color: var(--primary-band-color);
}
.search__wrap-input {
  flex: 1;
  margin-left: 24px;
}

.search__input {
  width: 100%;
  border: none;
  background-color: var(--primary-band-color);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2rem;
}

.header__right-cart {
  margin-left: 18px;
  width: 160px;
}

.icon-logo {
  font-size: 2.3rem;
}
.cart__icon .icon-logo {
  color: var(--white-color);
}

.cart__quantity {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 12px;
}

/*  Menu sort mobile and tablet */
.header__menu-sort {
  display: none;
  height: 100%;
  width: 30px;
}

.header__nav-mobile {
  display: none;
}

/* ================ Home page ==================== */

.home__banner {
  height: 900px;
  background-image: url(/assets/image/home__banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home__banner-content {
  padding: 246px 0 260px 246px;
}
.home__banner-title {
  margin-bottom: 8px;
  color: #68a47f;
}

.home__banner-desc {
  margin-bottom: 23px;
  width: 520px;
  font-weight: 800;
  font-size: 7rem;
  line-height: 1.2;
  color: var(--primary-color);
}
.home__banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__banner-btn-link {
  margin-right: 10px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
}

.btn__icon-arrow {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: #274c5b;
  color: var(--white-color);
  border-radius: 50%;
}

/* =============== banner ================== */
.banner__offer {
  margin: 154px 260px 190px 260px;
}
.banner__offer-total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.banner__offer-left {
  background-image: url(/assets/image/banner__offer-left.jpg);
}

.banner__offer-right {
  background-image: url(/assets/image/banner__offer-right.jpg);
}

.banner__offer-left,
.banner__offer-right {
  padding: 0;
  height: 367px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.banner__offer-wrap {
  margin: 110px 0 110px 55px;
}

.banner__offer-left-title,
.banner__offer-right-title {
  margin-bottom: 5px;
}

.banner__offer-left-title,
.banner__offer-left-desc {
  color: var(--white-color);
}
.banner__offer-right-title {
  color: var(--primary-heading-color);
}

.banner__offer-left-desc,
.banner__offer-right-desc {
  width: 260px;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.175;
}

.banner__offer-right-desc {
  color: var(--primary-color);
}

/* ================ About ================= */
