/* Mobile and Tablet */
@media (max-width: 1023px) {
  :root {
    --height-header: 80px;
    --width-header: 20px;
  }
  .hide-on-mobile-tablet {
    display: none;
  }

  .header__menu-sort {
    display: block;
  }
  .header__nav-right {
    display: flex;
    justify-content: flex-start;
  }
  .search__wrap {
    height: 40px;
    width: 100%;
  }
  .header__right-cart {
    width: auto;
  }

  .search__wrap-icon,
  .cart__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }

  .header__nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    animation: fadeIn linear 0.2s;
  }

  .header__nav-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.4s;
  }
  .header__mobile-menu-list {
    margin-top: 36px;
  }

  .header__nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .header__nav-close-icon {
    font-size: 2.5rem;
    color: #333;
  }

  .header__mobile-menu-item {
    position: relative;
    padding: 24px 24px;
  }
  .header__mobile-menu-item,
  .header__mobile-submenu-item {
    display: block;
    border-bottom: 1px solid #eee;
  }
  .header__mobile-submenu-link,
  .header__mobile-link {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 48px 48px;
  }

  .header__mobile-menu-item:hover,
  .header__mobile-link:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  .header__mobile-submenu {
    border: solid 1px #ccc;
    position: absolute;
    left: 110%;
    width: 240px;
    background-color: #fff;
    top: 0;
  }

  .header__mobile-submenu-item {
    padding: 8px 16px;
  }

  .header__mobile-submenu-link {
    font-size: 1.6rem;
  }

  .header__nav-input {
    display: none;
  }
  .header__nav-input:checked ~ .header__nav-overlay {
    display: block;
  }

  .header__nav-input:checked ~ .header__nav-mobile {
    transform: translateX(-0%);
    opacity: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}
